/* fonts awesome cdn link */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/* google fonts cdn link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --logo-color: #0b822d;
    --dark-color: #3F39E9;
    --light-color: #39E3E9;
    --red: #E93F39;
    --beige: #FFF6E9;
    --light-blue: #BBE2EC;
    --green: #0D9276;
    --ghost-white: #F8F8FF;
    --charcoal: #28231D;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: 1px solid rgba(0,0,0,.3);
    --gradient: linear-gradient(90deg, var(--logo-color) 0%, var(--dark-color) 100%);
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--logo-color);
    color: white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--beige);
}

::-webkit-scrollbar-thumb {
    background-color: var(--logo-color);
}

section {
    padding-inline: 9% ;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 6rem;
    }


.header {
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 999;
    background-color: var(--ghost-white);
}

.header.active {
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.header .flex {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo img {
    height: 6rem;
}

.header .flex .navbar a {
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--logo-color);
    display: inline-block;
}

.header .flex .navbar a::after {
    display: block;
    content: '';
    width: 0%;
    height: 2px;
    background: var(--logo-color);
    margin: auto;
    transition: 0.2s;
}

.header .flex .navbar a:hover::after {
    width: 100%;

}

.header .flex .navbar a:hover {
    color: var(--logo-color);
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--logo-color);
    display: none;
}

section {
    padding-top: 10rem;
}


/* home section starts */

.home {
    position: relative;
    width: 100%;
    height: 90vh;
    
    background-image: linear-gradient(rgba(4,9,30,0.3), rgba(4,9,30,0.7)), url(img/u5.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


.home-text h1 {
    font-size: 4rem;
    line-height: 1.2;
    color: var(--ghost-white);
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    text-shadow: var(--box-shadow);
    margin-bottom: 5rem;
    width: fit-content;
    
}

.home-text .tel {
    color: var(--logo-color);
    font-size: 2rem;
    display: block;
    height: 5rem;
    border: none;
    border-radius: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: 25rem;
    background-color: var(--beige);
    transition: ease .40s;
}

.home-text .tel:hover {
    transform: translateX(4px);
    font-weight: 500;
}

/* .home-text h1::after {
    content: '';
    width: 30%;
    background-color: var(--logo-color);
    height: 2px;
    display: block;
} */

.home-text h1 span {
    color: var(--logo-color);
}

.home-text h2 {
    font-size: 3rem;
    line-height: 1.2;
    color: var(--ghost-white);
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    text-shadow: var(--box-shadow);
}

.home-text p {
    color: var(--ghost-white);
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 3.1rem;
    max-width: 500px;
    text-shadow: var(--box-shadow);
}

.home-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    transition: ease .40s;
    width: fit-content;
    text-align: center;
    background: var(--beige);
    color: var(--logo-color);
    padding: 20px ;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 500;
    box-shadow: var(--box-shadow);
     
}

.home-btn i {
    margin-left: 3.5rem;
    font-size: 3rem;
}

.home-btn:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow);
}



/* home section ends */

/* DESPRE NOI section starts */

.despre-noi {
    background-color: var(--beige);
}

.despre-noi .row {
    overflow: hidden;
    align-items: center;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.despre-noi .row p span {
    color: var(--logo-color);
    font-weight: 500;
}

.despre-noi .row p {
    margin-top: 3rem;
}







/* DESPRE NOI section ends */

/*SERVICII section starts*/

.section-title {
    font-size: 4rem;
    letter-spacing: 1rem;
    text-align: center;
    color: var(--logo-color);

}

.section-title::after {
    content: '';
    width: 20%;
    height: 2px;
    background: var(--logo-color);
    display: block;
    margin: auto;
    }

.servicii {
    overflow: hidden;
    align-items: center;
    /* margin-top: 8rem; */
    background-color: var(--ghost-white);

}


.servicii .row {
    display: flex;
    gap: 1.5rem;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-box {
    
    overflow: hidden;
    flex-basis: 28%;
    border-radius: 2rem;
        }

.img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position:center;
    border-radius: 2rem;

}

.content-box {
    /* padding-inline: 10rem; */
    flex-basis: 71%;
    padding-left: 10rem;


}

.title {
    font-size: 2.5rem;
    max-width: max-content;
    margin-bottom: 2rem;
    }

.text {
    font-size: 2rem;
    /* opacity: 0.7; */
    line-height: 2.25;
    color: var(--charcoal);
}


/*SERVICII section ends*/


/* CONTACT section starts */

#contact {
    background-color: var(--beige);
}

#contact .map {
    max-width: 100%;
    height: auto;
    margin: 5rem auto 0;   
}

.map iframe {
    width: 100%;
}

/* CONTACT section ends */



/* footer section starts */

#footer {
    background: var(--logo-color);
}

.main {
    display: flex;
    flex-wrap: wrap;
    
}


.list {
    width: 33.3%;
}

.list h4 {
    font-size: 2rem;
    color: var(--ghost-white);
    margin-bottom: 2.5rem;
    position: relative;
}

.list h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: var(--ghost-white);
}

.list ul li:not(last-child) {
    margin-bottom: 1.25rem;
}

.list ul li a {
    color: var(--ghost-white);
    font-size: 1.4rem;
    display: block;
    transition: .3s ;
}

.list ul li {
    list-style-type: none;
}

.list ul li a:hover {
    transform: translateX(14px);
}

.list .social a {
    height: 40px;
    width: 40px;
    background: var(--dark-color);
    color: var(--ghost-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 15px;
    transition: .3s;
    margin-right: 1rem;
}

.list .social a:hover {
    transform: scale(1.1);
}

.end-text {
    text-align: center;
    padding-top: 50px;
}

.end-text p {
    color: var(--ghost-white);
    font-size: 1.2rem;
    letter-spacing: 2px;
}

/* footer section ends */


/*-- scroll to top button--*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 3.5rem;
    border: none;
    outline: none;
    color: var(--red);
    cursor: pointer;
    padding: 0;
    background: transparent;
  }
  
  #myBtn:hover {
    transform: translateY(-6px);
    transition: 0.7s;
  }

/*-- scroll to top button ends--*/





/* media queries */
@media(max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 768px) {
    html {
        #menu-btn {
            display: inline-block;
            transition: .2s linear;
        }

        #menu-btn.fa-times {
            transform: rotate(90deg);
        }

        .header .flex {
            position: relative;
        }

        .header .flex .navbar {
            position: absolute;
            top: 99%; left: 0; right: 0;
            background-color: var(--beige);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: .2s linear;
            
        }

        .header .flex .navbar.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        }

        .header .flex .navbar a{
            display: block;
            margin: 2rem;
            text-align: center;
            margin-top: 2rem;
            padding-top: 2rem;
            font-weight: 600;

        }

        .header .flex .navbar a:hover::after {
            width: 15%;

        }

        .despre-noi .row {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
        
        .form .home-btn {
            width: 100%;
        }

        .form .home-btn:hover {
            transform: translateY(-5px);
        }

        

        .servicii .row {
            flex-wrap: wrap;
        }

        .servicii .row:nth-child(odd) {
            flex-direction: column-reverse;
        }

        .content-box {
            flex-basis: auto;
            padding-left: initial;
       }

       .img-box {
        flex-basis: auto;
       }

       .list {
        width: 100%;
        margin-top: 3rem;
       }

       #footer {

        padding-top: initial;

       }

       

       /* .main .list {
        width: 100;
       } */
}
}

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }
}
